.countryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media screen and (max-width: 480px) {

    .countryContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* 
@media screen and (max-width: 768px) {
    .countryContainer {
        grid-template-columns: repeat(2, 1fr);
    }
} */