.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countryCard {
  
    border: 2px solid yellow;
    border-radius: 6px;
    padding: 9px;
    display: flex;
    gap: 10px;
}
.countryCard-Visited{
    background-color: gray;
    color: whitesmoke;
}